In [1]:
customer = open("/Users/kamal/Documents/cutomer.txt",'r')

In [2]:
import time

In [3]:
start = time.time()

In [4]:
end = time.time()
gap = end-start
gap

0.0037331581115722656

In [5]:
print(type(customer))

<class '_io.TextIOWrapper'>

In [6]:
#print(customer.readlines())
lines = customer.readlines()

In [7]:
help(customer.readlines)

Help on built-in function readlines:

readlines(hint=-1, /) method of _io.TextIOWrapper instance
    Return a list of lines from the stream.

    hint can be specified to control the number of lines read: no more
    lines will be read if the total size (in bytes/characters) of all
    lines so far exceeds hint.

In [8]:
for line in lines:
    print(line)

Id, name, location

1, jame, tx

2, harry, nyc

3, Andy, nc

In [9]:
for line in lines:
    print(line.split(',')[0], line.split(',')[1], line.split(',')[2])

Id  name  location

1  jame  tx

2  harry  nyc

3  Andy  nc

In [10]:
print(type(line[1]))

<class 'str'>

In [11]:
output_file = open("/Users/kamal/Documents/cutomer_output.txt",'w+')

In [12]:
type(output_file)

_io.TextIOWrapper

In [13]:
for line in lines:
    print(line.split(',')[1])
    output_file.write(line.split(',')[1])

 name
 jame
 harry
 Andy

In [14]:
liness = output_file.readlines()

In [15]:
print(lines)

['Id, name, location \n', '1, jame, tx\n', '2, harry, nyc\n', '3, Andy, nc\n']

In [16]:
output_file.close()
customer.close()

In [17]:
import pandas as pd

In [18]:
customer_df = pd.read_csv("/Users/kamal/Documents/cutomer.txt")

In [19]:
customer_df

   Id    name  location
0   1    jame         tx
1   2   harry        nyc
2   3    Andy         nc

In [20]:
customer_df[customer_df.columns[0:3]]

   Id    name  location
0   1    jame         tx
1   2   harry        nyc
2   3    Andy         nc

In [21]:
customer_df[(customer_df['Id']>1)]

   Id    name  location
1   2   harry        nyc
2   3    Andy         nc

In [22]:
for i, rows in customer_df.iterrows():
    #print(rows)
    print(tuple(rows))

(1, ' jame', ' tx')
(2, ' harry', ' nyc')
(3, ' Andy', ' nc')

In [23]:
# insert into table 
# Values ('%','%','%')

In [24]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Users/kamal/opt/anaconda3/lib/python3.9/site-packages (8.3.0)

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [25]:
dir(msql)

NameError: name 'msql' is not defined

In [ ]:
import mysql.connector as msql

In [ ]:
try:
    conn = msql.connect(host='localhost',user='root',database='aa_dev_lz_db',
                       password = 'Password123',port=3308)
    if conn.is_connected():
        cursor = conn_cursor()
        cursor.execute("select * from item_dim")
        result = cursor.fetchall()
        print("Database table connection and data extraction was successful",result)
        
        cursor.execute("Drop table if exsit employee new")
        cursor.execute("CREATE TABLE employee_new(employee_id varchar(50), name varchar(50), location varchar(50))")
        print("Table is created")
        
        
        for i, rows in customer_df.iterrows():
            sql="INSERT INTO aa_dev_lz_db.employee_new VALUES (%s,%s,%s)"
            cursor.execute(sql,tuple(rows))
            print("Record inserted ", rows)
            conn.commit()
        
        
        
except Exception as e:
    print("Error while connecting to MySQL",e)

In [ ]:
print(result)

In [ ]:
for row in result:
    print(row)

In [26]:
import pandas as pd

In [27]:
house=pd.read_csv("https://github.com/YBIFoundation/Dataset/raw/main/Boston.csv")

In [28]:
house

,CRIM,ZN,INDUS,CHAS,NX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

In [29]:
y=house['MEDV']
X=house.drop(['MEDV'],axis=1)

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=42)

In [32]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((354, 13), (152, 13), (354,), (152,))

In [33]:
from sklearn.linear_model import LinearRegression

In [34]:
model = LinearRegression()

In [35]:
model.fit(X_train, y_train)

LinearRegression()

In [36]:
y_pred = model.predict(X_test)

In [37]:
y_pred

array([28.64896005, 36.49501384, 15.4111932 , 25.40321303, 18.85527988,
       23.14668944, 17.3921241 , 14.07859899, 23.03692679, 20.59943345,
       24.82286159, 18.53057049, -6.86543527, 21.80172334, 19.22571177,
       26.19191985, 20.27733882,  5.61596432, 40.44887974, 17.57695918,
       27.44319095, 30.1715964 , 10.94055823, 24.02083139, 18.07693812,
       15.934748  , 23.12614028, 14.56052142, 22.33482544, 19.3257627 ,
       22.16564973, 25.19476081, 25.31372473, 18.51345025, 16.6223286 ,
       17.50268505, 30.94992991, 20.19201752, 23.90440431, 24.86975466,
       13.93767876, 31.82504715, 42.56978796, 17.62323805, 27.01963242,
       17.19006621, 13.80594006, 26.10356557, 20.31516118, 30.08649576,
       21.3124053 , 34.15739602, 15.60444981, 26.11247588, 39.31613646,
       22.99282065, 18.95764781, 33.05555669, 24.85114223, 12.91729352,
       22.68101452, 30.80336295, 31.63522027, 16.29833689, 21.07379993,
       16.57699669, 20.36362023, 26.15615896, 31.06833034, 11.98679953,
       20.42550472, 27.55676301, 10.94316981, 16.82660609, 23.92909733,
        5.28065815, 21.43504661, 41.33684993, 18.22211675,  9.48269245,
       21.19857446, 12.95001331, 21.64822797,  9.3845568 , 23.06060014,
       31.95762512, 19.16662892, 25.59942257, 29.35043558, 20.13138581,
       25.57297369,  5.42970803, 20.23169356, 15.1949595 , 14.03241742,
       20.91078077, 24.82249135, -0.47712079, 13.70520524, 15.69525576,
       22.06972676, 24.64152943, 10.7382866 , 19.68622564, 23.63678009,
       12.07974981, 18.47894211, 25.52713393, 20.93461307, 24.6955941 ,
        7.59054562, 19.01046053, 21.9444339 , 27.22319977, 32.18608828,
       15.27826455, 34.39190421, 12.96314168, 21.01681316, 28.57880911,
       15.86300844, 24.85124135,  3.37937111, 23.90465773, 25.81792146,
       23.11020547, 25.33489201, 33.35545176, 20.60724498, 38.4772665 ,
       13.97398533, 25.21923987, 17.80946626, 20.63437371,  9.80267398,
       21.07953576, 22.3378417 , 32.32381854, 31.48694863, 15.46621287,
       16.86242766, 28.99330526, 24.95467894, 16.73633557,  6.12858395,
       26.65990044, 23.34007187, 17.40367164, 13.38594123, 39.98342478,
       16.68286302, 18.28561759])

In [38]:
from sklearn.metrics import mean_squared_error

In [39]:
mean_squared_error(y_test,y_pred)

21.5174442311775

In [40]:
Salary = pd.read_csv("https://github.com/ybifoundation/Dataset/raw/main/Salary%20Data.csv")

In [41]:
Salary

    Experience Years  Salary
0                1.1   39343
1                1.2   42774
2                1.3   46205
3                1.5   37731
4                2.0   43525
5                2.2   39891
6                2.5   48266
7                2.9   56642
8                3.0   60150
9                3.2   54445
10               3.2   64445
11               3.5   60000
12               3.7   57189
13               3.8   60200
14               3.9   63218
15               4.0   55794
16               4.0   56957
17               4.1   57081
18               4.3   59095
19               4.5   61111
20               4.7   64500
21               4.9   67938
22               5.1   66029
23               5.3   83088
24               5.5   82200
25               5.9   81363
26               6.0   93940
27               6.2   91000
28               6.5   90000
29               6.8   91738
30               7.1   98273
31               7.9  101302
32               8.2  113812
33               8.5  111620
34               8.7  109431
35               9.0  105582
36               9.5  116969
37               9.6  112635
38              10.3  122391
39              10.5  121872

In [59]:
X=Salary[['Experience Years']]
y=Salary['Salary']

In [60]:
from sklearn.model_selection import train_test_split

In [61]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7,random_state=42)

In [62]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((28, 1), (12, 1), (28,), (12,))

In [63]:
from sklearn.linear_model import LinearRegression

In [64]:
model = LinearRegression()

In [65]:
model.fit(X_train,y_train)

LinearRegression()

In [66]:
y_pred = model.predict(X_test)

In [67]:
y_pred

array([ 69334.98315618,  64605.30338877,  64605.30338877,  83524.02245843,
        45686.5843191 ,  61767.49552832, 117577.71678382,  85415.89436539,
       126091.14036516,  50416.26408652,  82578.08650494,  57037.8157609 ])

In [69]:
from sklearn.metrics import mean_squared_error

In [72]:
mean_squared_error(y_test,y_pred)

35344480.17477033

In [82]:
x=10.5
y_predd=model.predict([[x]])

/Users/kamal/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [83]:
y_predd

array([126091.14036516])